<!DOCTYPE html>
<html>
<head>
    <title>Kolokwium</title>
    <meta charset="utf-8">
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
    {{ message }}
    <div class="cell">1</div>
        <div class="active">

            <div class="kwadrat" v-for="rows in rows">
                <div class="cell" v-for="columns in columns">
                    <div class="cell" :class="{active: (active[0]==rows && active[1]==columns)}" @click="active=[rows,columns]"></div>
                    <p>{{ rows }},{{ columns }}</p>
                </div>
            </div>
        </div>
    <script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Powodzenia',
            rows: 10,
            columns:10,
            active: [1,1]
        }
    })
    </script>
</body>
</html>